<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<table class="table">
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Edition</th>
      <th>Publish date</th>
      <th>Author</th>
      <th>Number of pages</th>
      <th colspan="3">Book operators</th>
    </tr>
  </thead>

  <tbody>
    <%= render @books %>
  </tbody>
</table>

<br>
