<% provide(:title, 'Uploading book') %>

<div class="panel panel-success pannel-form">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
      Uploading book...
    </h3>
  </div>
  <div class="panel-body pannel-form-body">
    <%= render 'form' %>
  </div>
</div>
