@import "bootstrap/variables";
@import "bootstrap/mixins";

main {
  padding-top: 70px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* navigator */

.navbar-brand {
  padding-bottom: 0px;
  padding-top: 0px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.circle-image{
  margin-top: -15px;
  margin-bottom: -15px;
  border-radius:50%;
}

.user-nav {
  font-weight: bold;
  font-variant: small-caps;
  display: inline;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing(border-box);
}

/* form */

.authform {
  padding-bottom: 45px;
  max-width: 480px;
  margin: 0 auto;
}
