@import "bootstrap/variables";
@import "bootstrap/mixins";

body {
  padding-top: 70px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* navigator */

.navbar-brand {
  padding-bottom: 0px;
  padding-top: 0px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing(border-box);
}
