@import "bootstrap/variables";
@import "bootstrap/mixins";

main {
  padding-top: 70px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* navigator */

.navbar-brand {
  padding-bottom: 0px;
  padding-top: 0px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.circle-image{
  margin-top: -15px;
  margin-bottom: -15px;
  border-radius:50%;
}

.user-nav {
  font-weight: bold;
  font-variant: small-caps;
  display: inline;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing(border-box);
}

/* form */

.authform {
  padding-bottom: 45px;
  max-width: 480px;
  margin: 0 auto;
}

.pannel-form {
  max-width: 480px;
  margin: 0 auto;

  .pannel-form-body {
    padding: 24px;
    background-color: #F5F5F5;
  }
}

/* devise flash */
/* More info: https://github.com/plataformatec/devise/wiki/How-To:-Integrate-I18n-Flash-Messages-with-Devise-and-Bootstrap */

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
