<p id="notice"><%= notice %></p>
<div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="book_request_form">
        <%= render 'shared/book_request_form' %>
      </section>
    </aside>
  </div>
<h1>Listing Book Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Description</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <%= render @book_requests %>
  </tbody>
</table>

<br>
